<div class="intro ng-scope">
	<div class="group">
		<div class="animated zoomIn">{{aboutMeTypeText}}</div>
	</div>
</div>
<div id="section1" class="animateMe visible animated fadeIn full-visible">
	<div align="center">
		<span>
                    <h4 style="font-style:italic;color:#4044AB">
                    </h4>
                    </span>
	</div>
	<div class="row container-fluid jumbotron">
		<div class="col-md-9">
			<div class="abt_content">
				<h3 class="red heading"><span class="first-letter">H</span>ello and Welcome.</h3>
				<div class="content"> I develop highly interactive, responsive websites &amp; web apps with recent technologies. I love designing web pages and I beleive that by enhancing the look and feel of the application with meaningful transitions it looks more realistic, so that, it gives a better user experience. I focus on modularity and maintainability and I pay great attention to details.</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="col-md-3">
			<img id="rcorners2" src="assets/images/profile_pic2.jpeg" width="100%" class="img-responsive" alt="Image of Krishna">
			<div class="socialSights">
				<a href="#/contact"><i class="fa fa-envelope"></i></a>
				<a href="http://plnkr.co/users/krishdev" target="_blank"><i class="fa fa-external-link"></i></a>
				<a href="https://jsfiddle.net/user/krishnarajen/" target="_blank"><i class="fa fa-jsfiddle"></i></a>
				<a href="https://github.com/krishdev" target="_blank"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</div>
	<div class="expertise">
		<div class="container-fluid jumbotron">
			<h3 class="keySkills heading"><span class="first-letter">M</span>y Expertise</h3>
			<section class="row">
				<article class="col-md-4 col-sm-4">
					<div class="expertise-block"><i class="fa fa-diamond yellow"></i>
						<h2 class="heading title-exp">Ideas</h2>
						<p class="content">I collaborate with clients and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.</p>
					</div>
				</article>
				<article class="col-md-4 col-sm-4">
					<div class="expertise-block"><i class="fa fa-paper-plane-o yellow" aria-hidden="true"></i>
						<h2 class="heading title-exp">Hub</h2>
						<p class="content qualif">
							<span>HTML(5)</span>
							<span>CSS(3)</span>
							<span>SASS</span>
							<span>BOOTSTRAP</span>
							<span>ANGULAR MATERIAL</span>
							<span>JAVASCRIPT</span>
							<span>JQUERY</span>
							<span>JQUERY</span>
							<span>ANGULAR JS</span>
							<span>GULP</span>
							<span>REQUIRE JS</span>
						</p>
					</div>
				</article>
				<article class="col-md-4 col-sm-4">
					<div class="expertise-block"><i class="fa fa-code yellow"></i>
						<h2 class="heading title-exp">Code</h2>
						<p class="content">I design in the browser with HTML(5), CSS(3) and a touch of JavaScript Frameworks. I love coding things from scratch, but I can work with front-end frameworks like Bootstrap, Angular-Material too.</p>
					</div>
				</article>
			</section>
		</div>
	</div>
	<section class="work-together">
		<div class="container">
			<div class="row">
				<div class="eight columns offset-by-two columns">
					<h2 class="slate heading">Want to work together?</h2>
					<p class="content">I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it.</p>
					<div class="cd-modal-action">
						<a href="#/myproject#indexTop" data-type="modal-trigger" class="btn btn-info">Get Started</a>
						<span style="" class="cd-modal-bg"></span>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
