<div class="editorNavOverlay"></div>
<section class="editorPage">
	<div class="banner">
		<div class="container">
			<h2>Hi! Krish,</h2>
			<h3><span>Heading:</span> {{content.title}}</h3>
			<em><span>Tags:</span> {{content.tags}}</em>
		</div>
	</div>
	<div class="container">
		
		<div class="editorContainer" style="display: none;">
			<div class="alert alert-warning">{{error.missingElem}}</div>
			<header>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Title: </span>
					<input type="text" class="form-control" ng-model="content.title" placeholder="unique title">
				</div>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1">Tags: </span>
					<input type="text" class="form-control" ng-model="content.tags" placeholder="tags- eg: html,css">
				</div>
			</header>
			<div id="editor">
				<p>Welcome again!</p>
				<p>Start typing <strong>anything</strong> here</p>
				<p>
					<br>
				</p>
			</div>
			<footer>
				<input class="btn btn-lg btn-primary btn-block" ng-click="PreviewForm()" type="button" value="Preview" data-toggle="modal" data-target="#myModal">
				<input class="btn btn-lg btn-primary btn-block" ng-click="submitForm()" type="button" value="Submit">
				<input class="btn btn-lg btn-primary btn-block" ng-if="editBtn" ng-click="updateContent()" type="button" value="Update">
			</footer>
		</div>
		<br>

		<section class="recentPosts row">
			<section class="col-md-8">
				<h3>Recent Posts</h3>
				<div class="row">
					<div class="col-sm-6 col-md-4" ng-repeat="content in contents">
						<div class="thumbnail">
							<div class="caption">
								<h3>{{content.heading}}</h3>
								<div ng-bind-html="content.summary"></div>
								<div ng-bind-html="content.tag"></div>
								<p>
									<a ng-href="#/explore/{{content.itemId}}" class="btn btn-primary" role="button">view</a>
									<a href="" ng-click="EditContainer(content)" class="btn btn-primary" role="button">Edit</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="col-md-4">
				<h3>Messages</h3>
				<div class="messages">
					<div class="message-in">
						<article ng-repeat="message in messages">
							<header>
								<h4 ng-bind="message.from">from@mail.com</h4>
								<h4 ng-bind="message.subject">Subject of the message</h4>
							</header>
							<time>{{message.time | date:'MMMM dd, yyyy'}}</time>
							<button type="button" data-toggle="modal" data-target="#myMessagel" ng-click="viewMessage(message)" class="btn btn-success">View</button>
						</article>
					</div>
				</div>
			</section>
		</section>
	</div>

</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content explorerPage">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Preview</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body content">
				<article ng-if="explorer.heading">
					<header>
						<h2 ng-bind="explorer.heading"></h2>
					</header>
					<time>{{explorer.time | date:'MMMM dd yyyy'}}</time>
					<p></p>
					<div class="para mainContent" ng-bind-html="explorer.content"></div>
					<footer>
						<p>-Thanks, {{explorer.author}}</p>
					</footer>
				</article>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myMessagel" tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content explorerPage">
			<div class="modal-header">
				<h5 class="modal-title" id="messageLabel">Message from {{contMessage.from}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body content">
				<article ng-if="contMessage.subject">
					<header>
						<h2 ng-bind="contMessage.subject"></h2>
					</header>
					<time>{{contMessage.time | date:'MMMM dd yyyy'}}</time>
					<p></p>
					<div class="para mainContent" ng-bind-html="contMessage.content"></div>
					<footer>
						<p>-Thanks, {{contMessage.from}}</p>
					</footer>
				</article>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	var options = {
		modules: {
			toolbar: [
				[{
					header: [1, 2, false]
				}],
				['bold', 'italic', 'underline', 'list','code'],
				['image', 'code-block']
			]
		},
		placeholder: 'Compose an epic...',
		theme: 'snow' // or 'bubble'
	};
	var editor = new Quill('#editor', options);

</script>
