<div class="editorNavOverlay"></div>

<section class="explorerPage">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-7 content">
			<article ng-if="explorer.heading">
				<header>
					<h2 ng-bind="explorer.heading"></h2>
				</header>
				<div class="tags">
					<a href="" ng-repeat="cTag in explorer.tag">
						<span> # {{cTag}}</span>
						<t ng-if="!$last">, </t>
					</a>
				</div>
				<time>{{explorer.time | date:'MMMM dd, yyyy'}}</time>
				<p></p>
				<div class="para mainContent" ng-bind-html="explorer.content"></div>
				<footer>
					<p>-Thanks, {{explorer.author}}</p>
				</footer>
			</article>
			<article ng-if="!explorer.heading" class="text-center">
				<header>
					<h2>Sorry, the page you are looking for is not there..</h2>
				</header>
				<p></p>
				<div class="para mainContent">Please visit the <a ng-href="#/">home</a> page.</div>
				<footer>
					<br>
					<input class="form-control" type="text" ng-model="autofetch" placeholder="search for topics">
				</footer>
			</article>
		</div>
		<div class="col-md-3">
			<section class="list-group" ng-if="contents.length">
				<div href="" class="list-group-item active">
					<h4 class="list-group-item-heading">Recent Posts</h4>
				</div>
				<article ng-href="#/explore/{{content.itemId}}" ng-repeat="content in contents" ng-if="explorer._id != content._id" class="list-group-item">
					<div class="list-group-item-text">
						<header>
							<h4>
								<a ng-href="#/explore/{{content.itemId}}">{{content.heading}}</a>
							</h4>
						</header>
						<a ng-href="#/explore/{{content.itemId}}">Read this</a>
					</div>
				</article>
			</section>
		</div>
	</div>
</section>
<style ng-if="!explorer.heading">
	.footer {
		position: fixed;
	}

</style>
<div ng-if="explorer.heading">
	<script>
		var idcomments_acct = '48fc400ced0b9dc84541da36b0f414f7';
		var idcomments_post_id;
		var idcomments_post_url;

	</script>
	<span id="IDCommentsPostTitle" style="display:none"></span>
	<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

</div>
