<div class="animateMe hiddenContent visible animated fadeIn full-visible">
	<div id="map">
		<div class="animated flipInX">
			<h1>Responsive Front-end Developer</h1>
			<ul class="list-inline">
				<li>HTML</li>
				<li>&bull; CSS</li>
				<li>&bull; JavaScript</li>
				<li>&bull; jQuery</li>
				<li>&bull; AngularJS</li>
			</ul>
			<a href="#/aboutMe" class="iconCl">
				<span class="glyphicon glyphicon-menu-down fsize"></span>
			</a>
		</div>
	</div>
</div>
<style type="text/css">
	body {
		background: linear-gradient(to left, #1e3c72, #2a5298) !important;
		background-color: #1e3c72 !important;
	}
	
	footer {
		background: transparent !important;
	}
	
	.triangle {
		display: none;
	}

</style>
