body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100vh;
}
.fill {
	min-height: 100%;
	height: 100%;
}
.active>a {
	background-color: transparent !important;
	border-bottom: 2px solid #fff;
}
.navbar-right>li>a:hover {
	/* border-bottom: 2px solid #045F8C;*/
	color: #fff;
}
.navbar {
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}
.animateMe {
	margin: 0px;
}
.visible {
	opacity: 1;
}
.hiddenContent {
	opacity: 0;
}
.navbar-right>li>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #045F8C;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.navbar-right>li>a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.errorMessage {
	color: red;
	font-size: smaller;
}
.iconCl {
	color: #fff;
}
.list-inline {
	font-size: 1.3em;
}
.fsize {
	font-size: 20px;
}
ul.listStyle {
	list-style-type: circle;
}
#section1 .jumbotron {
	padding-top: 0 !important;
}
.navbar-inverse {
	background: linear-gradient(to left, #1e3c72, #2a5298) !important;
	background-color: #1e3c72 !important;
	border-color: transparent!important;
	color: #fff !important;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff !important;
}
.navbar-brand {
	color: #fff !important;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bolder;
}
.navbar-tag {
	font-weight: 100;
	font-size: 14px;
}
#map {
	width: 100%;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 15%;
	color: #fff;
}
.fa {
	font-size: 2em !important;
}
.progress-bar {
	background-color: #2098D1 !important;
}
.socialSights {
	padding: 2%;
	margin-left: 3%;
}
.socialSights>a {
	margin-left: 10%;
}
.keySkills {
	font-weight: 600;
}
.intro {
	color: #fff;
	background: linear-gradient(to left, #1e3c72, #2a5298) !important;
	background: #1e3c72;
}
.group {
	height: 194px;
	text-align: center;
	padding: 7%;
	font-size: 2em;
}
.intro>h1 {
	font-size: 2.5em !important;
	max-width: 960px;
}
.abt_content {
	font-family: "Times New Roman", Georgia, serif;
	line-height: 32px;
	padding: 0px;
	color: #5A1953;
	font-size: 20px;
}
.abt_content > span {
	color: #E0000E;
	float: left;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}
.navbar .navbar-collapse {
	text-align: center;
}
.clr {
	clear: both;
}
#section1 .jumbotron {
	background-color: transparent !important;
}
.quickLinkImage {
	vertical-align: bottom;
}
.projectPage {
	margin: 3% 0 5% 0;
}
.popOver {
	color: saddlebrown;
}
.projectContainer {
	height: 100px;
	overflow-y: hidden;
	margin-top: 2%;
}
.projectHeader {
	font-weight: bold;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 54px;
}
#alumniLogo {
	margin-top: 8%;
}
.tdLeft {
	width: 32%;
}
.projectDescription {
	padding: 25%;
	text-align: center;
}
.projectDescription>a {
	color: #fff;
}
.projectDescription>a>div {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.btnHide {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 255, 0, 0.3);
	height: 300px;
}
.btnHide.showMe {
	display: block;
}
.btnContainer {
	position: absolute;
	bottom: 15%;
	left: 42%;
}
.btn-secondary {
	border-color: aqua !important;
	background-color: transparent;
	color: white;
}
.btn-secondary:hover {
	background-color: #000;
	color: #fff !important;
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}

/*Animation move an image*/

.profileIcon {
	padding: 0%;
	margin-left: 3%;
}
a#rotator {
	text-decoration: none;
	padding-right: 20px;
	left: 50%;
	position: absolute;
	color: white;
}
a#rotator i {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	border-radius: 60px;
	transition-duration: 1s;
	color: white !important;
}
a#rotator i:hover {
	box-shadow: 0 3px 15px #000;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: translate()
}

/*K*/

.parent {
	position: relative;
	height: 46px;
	overflow: hidden;
}
#kLeft,
.kLeft {
	width: 0;
	height: 0;
	border-top: 5px solid #b7b924;
	border-right: 1px solid #b7b924;
	border-bottom: 40px solid #b7b924;
	border-left: 5px solid #b7b924;
	z-index: 2;
	-webkit-1transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#kTop,
.kTop {
	position: absolute;
	/*top:20px;
  left:0;*/
	left: 1px;
	top: 15px;
	width: 0;
	height: 0;
	border-top: 5px solid #b7b924;
	border-right: 1px solid #b7b924;
	border-bottom: 20px solid #c3fa87;
	border-left: 5px solid #b7b924;
	-webkit-transform: translate(100px) rotate(20deg);
	-webkit-transform-origin: 0 -250px;
	transform: translate(100px) rotate(20deg);
	transform-origin: 0 -250px;
}
#kBottom,
.kBottom {
	position: absolute;
	/*top: 23px;
       left: 11px;*/
	left: 12px;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 5px solid #b7b924;
	border-right: 1px solid #c3fa87;
	border-bottom: 20px solid #c3fa87;
	border-left: 5px solid #b7b924;
	transform: rotate(-40deg);
	-webkit-1transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#kLeft.rotated {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#kBottom.rotated,
.kBottom.rotated {
	-webkit-transform: rotate(170deg);
	-moz-transform: rotate(170deg);
	-ms-transform: rotate(170deg);
	-o-transform: rotate(170deg);
	transform: rotate(320deg);
}
.small.kLeft {
	border-bottom: 20px solid #b7b924;
}
.small.kTop {
	border-bottom: 10px solid rgb(195, 250, 135);
	left: 1px;
	transform: translate(96px) rotate(20deg);
}
.small.kBottom {
	border-bottom: 10px solid rgb(195, 250, 135);
	left: 9px;
	top: 11px;
}

/*Bootstrap override*/

a:focus,
a:hover {
	color: #82898f;
	text-decoration: none;
}

/*------aboutus------------*/

.content {
	font-family: 'Cabin', sans-serif;
	color: #929292;
	padding-left: 10px;
	font-size: 18px;
}
.first-letter {
	font-family: 'Lobster Two', cursive;
	font-size: 2em;
	color: #295196;
}
.heading {
	font-family: 'Nunito', sans-serif;
	color: #492418;
}
#section1 .container .jumbotron,
#section1 .container-fluid.jumbotron {
	padding-right: 60px;
	padding-left: 60px;
}
#section1 .container-fluid.jumbotron.row {
	margin-left: 0;
	margin-right: 0;
}
.expertise p.content {
	font-size: 17px !important;
}
.expertise {
	background-image: url(https://media.licdn.com/mpr/mpr/p/6/005/07e/2a5/30d4ce6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 400px;
	background-attachment: fixed;
	transform: scale(1);
}
@media screen and (max-width:767px) {
	.container .jumbotron,
	.container-fluid.jumbotron {
		padding: 0;
	}
	.content {
		padding-left: 0;
	}
	.expertise .keySkills.heading {
		text-align: center;
		margin-bottom: 2em;
	}
}
.expertise .container-fluid.jumbotron {
	margin-bottom: 0;
}
.expertise h3 {
	margin-bottom: 3em;
}
.expertise article {
	text-align: center;
}
.expertise i.yellow {
	font-size: 5rem !important;
}
.yellow {
	color: #FDCD3B;
}
.expertise article p.qualif.content span {
	font-size: 12px;
	background-color: #234683;
	color: #fff;
	padding: 3px 7px;
	cursor: pointer;
}
.expertise article p.qualif.content span:hover {
	box-shadow: 0px 0px 1px 1px #fdfffe;
	background-color: #e05206;
}
.work-together {
	background-color: #FDCD3B;
	text-align: center;
	margin: 0 auto;
	padding: 100px 0;
}
.work-together .content {
	font-size: 20px;
}
.work-together .btn {
	border-radius: 22px;
	padding-left: 20px;
	padding-right: 20px;
}

/*-------- Chat Box --------*/

.chat-box {
	position: fixed;
	right: 1em;
	bottom: 2em;
	width: 100%;
	height: 400px;
	background-color: #ecf8f8;
	box-shadow: 1px 1px 2px 1px #492418;
	border-radius: 5px;
	padding: 1em 2em;
	overflow: hidden;
	display: block;
}
.chat-box.mobile-chat:after {
	content: "C";
	color: #fff;
	font-size: 24px;
	width: 100%;
	position: absolute;
	left: 1.2em;
	top: 0.8em;
	cursor: pointer;
}
@media only screen and (min-width:467px) {
	.chat-box {
		width: 340px;
	}
}
.chat-box.mobile-chat {
	width: 75px;
	height: 75px;
	right: 3em;
	border-radius: 50%;
	background-color: #5bc0de;
	padding: 0;
}
.chat-box.mobile-chat section {
	display: none;
}
.chat-box section {
	position: relative;
	height: 100%;
}
.chat-box footer {
	position: absolute;
	bottom: 15px;
	width: 100%;
	left: 0;
	height: 90px;
}
.chat-box article.chat-header {
	text-align: center;
}
.chat-header i.fa {
	font-size: 30px !important;
	margin-left: 0.4em;
}
.chat-box article.chat-body {
	padding: 1em 0em;
	height: 60%;
	overflow-y: auto;
	overflow-x: hidden;
}
.chat-box .chat-body .chat-user {
	background: transparent;
}
.chat-box .chat-body .chat-krish p {
	padding: 1em 2em 1em 0.6em;
	background-color: #fdcd3b;
	color: #fff;
	border-radius: 5px;
	text-align: right;
	max-width: 86%;
	margin-left: 5em;
}
.chat-box .chat-body .chat-user p {
	padding: 1em 2em 1em 0.6em;
	background-color: #59c8df;
	color: #fff;
	border-radius: 5px;
	text-align: left;
	max-width: 86%;
	margin-right: 5em;
}
.chat-box .chat-body .chat-krish {
	background: transparent;
}
.chat-box footer textarea.form-input {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid lightgray;
	color: lightgray;
	padding: 1em;
	box-shadow: 1px -1px 0px 1px lightgrey;
}
.chat-box .chat-close {
	position: absolute;
	top: -14px;
	right: -3px;
	font-size: 18px !important;
	cursor: pointer;
}
.expertise .content {
	color: #011b48;
}

/*version 3*/


/*portfolio*/

#section3 {
	margin-top: 4em;
	margin-bottom: 3em;
}
#section3 .row:not(:first-child) {
	margin-top: 2em;
}
.html5 {
	background-color: rgba(228, 77, 38, 0.3);
}
.css3 {
	background-color: rgba(0, 125, 198, 0.3);
}
.js {
	background-color: rgba(245, 130, 51, 0.3);
}
.angularjs {
	background-color: rgba(195, 0, 47, 0.3);
}
.gulp {
	background-color: rgba(232, 76, 80, 0.3);
}
.requireJs {
	background-color: rgba(255, 251, 2, 0.3);
}
.hashTag h4 {
	display: inline;
	cursor: pointer;
}
#section3 .row {
	margin-right: 0;
	margin-left: 0;
}
.gitFig {}
.gitFig img {
	width: 35%;
	opacity: 0.6;
}
section.row[ng-repeat] .container {
	box-shadow: 5px 0 10px 4px lightgrey;
	padding: 1.2em 0;
}
.gitTitle {
	margin-top: 2em;
	color: #fff;
}
.gitTitle span {}

/*footer icons*/

.footerIcons a {
	margin: 0 0.5em;
	color: cornsilk;
}
.footerIcons {
	margin-bottom: 0.8em;
}
.footerIcons a:hover i {
	background: #a060ff;
	background: -moz-linear-gradient(#a060ff, #d9ff08);
	background: -o-linear-gradient(#a060ff, #d9ff08);
	background: -webkit-linear-gradient(#a060ff, #d9ff08);
	-webkit-background-clip: text;
	-o-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-o-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #4caf50;
	cursor: pointer;
}
.img-center {
	margin: 0 auto;
}
.back-to-top {
	display: inline-block;
	margin-left: -8px;
	margin-top: 15px;
	outline: 0!important;
	color: #fff;
	font-size: 0.71em;
}
a.back-to-top:hover i {
	color: #555e8c;
}
.row[back-to-top] {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
a.btn-txt {
	font-size: 0.89em !important;
}
.btn-txt {
	margin-top: 1em;
	color: #fff;
	background: rgba(37, 72, 135, 0.8);
}
.btn-txt i.fa {
	font-size: 1.3em !important;
	margin-left: 5px;
}
.btn-txt:hover {
	color: darkturquoise;
}
a.btn {
	display: inline-block;
	font-size: 18px;
	line-height: 1.5em;
}
.btn-txt:hover,
.btn-txt:focus {
	color: rgba(255, 255, 255, 0.8);
}
.proj:nth-of-type(even) {
	background-color: #DDDDDD;
}
section.row.proj {
	padding: 5em 0;
}
.gitRepo {
	min-height: 300px;
	box-shadow: 2px 1px 0px 1px rgba(6, 6, 6, 0.3);
	padding: 3em 2.5em;
	overflow: hidden
}
.gitTitle + .row {
	margin-bottom: 2em;
	overflow: hidden;
}
.gitRepo header h3 {
	color: #B10DC9;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}
.gitRepo .btn-txt {
	background-color: transparent;
	color: #337ab7;
}
.gitRepo .btn-txt + article {
	margin-top: 1em;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
	color: #6d6a6a;
}
.gitTitle {
	margin-top: 2em;
	color: #fff;
	margin: 2em 0;
	text-align: center;
	background: aqua;
	padding: 1.5em;
}
.loop h2 {
	font-size: 5em;
	text-align: right;
	padding-right: 0;
	font-weight: 700;
	color: #fff;
}
.loop pre {
	color: #f0e68c;
	background: transparent;
	border: 0;
	white-space: pre-line;
}
.loop pre ul {
	padding-left: 1em;
	padding-top: 0;
	line-height: 1;
}
.loop pre ul li {
	list-style-type: circle;
	line-height: 1;
}
.brackets {
	position: absolute;
	top: 5em;
	right: 10em;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	width: 100px;
	display: none;
}
#section4 {
	position: relative;
}
.mobile {
	display: none;
}
.desktop {
	display: block;
}
@media (min-width: 1200px) {
	.loop + form {
		width: 60%;
		margin-left: 12em;
		margin-bottom: 5em;
	}
	.brackets {
		right: 10em;
		display: inline-block;
	}
}
@media (min-width: 1300px) {
	.brackets {
		right: 20em;
		display: inline-block;
	}
}
@media (min-width: 1400px) {
	.brackets {
		right: 25em;
		display: inline-block;
	}
}
@media (max-width:992px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.loop h2 {
		text-align: left;
	}
	.gitRepo {
		box-shadow: 0px 1px 0px 0px rgba(6, 6, 6, 0.3);
	}
}
body.homePage {
	overflow: hidden;
}
.gitRepo:nth-child(2n) {
	box-shadow: 0px 2px 0px 0px rgba(6, 6, 6, 0.3);
}

/* HTML EDITOR */

.editorNavOverlay {
	height: 1em;
	background: linear-gradient(to left, #1e3c72, #2a5298) !important;
	background-color: #1e3c72 !important;
}
.editorPage .container {
	padding: 2em;
}
.editorPage .container .editorContainer #editor {
	min-height: 500px;
}
.editorPage .container .editorContainer header,
.editorPage .container .editorContainer footer,
.editorPage .container .editorContainer header div {
	margin: 0.5em 0;
}
.editorPage .banner {
	color: #fff;
	font-size: 16px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6f5499;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
	background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
}
.editorPage .banner span {
	color: #F7DC6F;
}

/* Explorer */

pre {
	background-color: #563737;
	color: #e0dfdf;
	font-family: 'Source Code Pro', monospace;
}
.explorerPage .row {
	margin-top: 1em;
	margin-right: 0;
}
.explorerPage .content {
	padding: 2em;
}
.explorerPage .content h2 {
	font-family: 'Ubuntu', sans-serif;
	color: #444;
}
.explorerPage .content .para.mainContent {
	font-family: 'Noto Sans', sans-serif;
	color: #616161;
	line-height: 1.75;
	font-size: 18px;
}
.explorerPage .list-group-item header h4 a {
	color: inherit;
}
.explorerPage .col-md-3 {
	padding-left: 30px;
	padding-top: 3em;
}
@media screen and (min-width:500px) and (max-width:991px) {
	.loginPage form {
		padding: 0px 10em !important;
	}
}
@media screen and (max-width:499px) {
	.loginPage form {
		padding: 0px 1em !important;
	}
}
@media only screen and (max-width:767px) {
	.explorerPage p img {
		width: 100%
	}
}
.tags span {
	background: #d98f44;
	color: #fff;
	padding: 1px 6px;
	border-radius: 35px;
}
.tags {
	margin: 1em 0;
}

/* Comments */

@media (min-width: 768px) {
	#idc-container-parent {
		width: 750px;
	}
}
@media (min-width: 992px) {
	#idc-container-parent {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	#idc-container-parent {
		width: 1170px;
	}
}
#idc-container-parent {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* Material Page */

.materialsPage span.glyphicon.glyphicon-chevron-right {
	font-size: 0.76em;
}
.glyphicon.red {
	color: red;
}
.recentPosts .row .col-sm-6 {
	height: 203px;
}
.messages .message-in article {
	border: 2px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 6px;
	padding: 1em;
	border-radius: 9px;
}
button.loadImages{
    background-image: url("assets/images/load.gif");
    background-size: cover;
    background-position-y: -23px;
}