<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Font CSS -->
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Italianno|Poppins|Courgette|Kaushan+Script" rel="stylesheet">

		<style>
			#app{
				margin:3em 0;
			}
		</style>
		<style>
			#snackbar,#errorbar {
			    visibility: hidden;
			    min-width: 250px;
			    margin-left: -125px;
			    background-color: #333;
			    color: #fff;
			    text-align: center;
			    border-radius: 2px;
			    padding: 16px;
			    position: fixed;
			    z-index: 1;
			    left: 50%;
			    bottom: 30px;
			    font-size: 17px;
			}
			#errorbar {
				background-color: darkcyan;
			}
			#snackbar.show,#errorbar.show {
			    visibility: visible;
			    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			    animation: fadein 0.5s, fadeout 0.5s 2.5s;
			}

			@-webkit-keyframes fadein {
			    from {bottom: 0; opacity: 0;} 
			    to {bottom: 30px; opacity: 1;}
			}

			@keyframes fadein {
			    from {bottom: 0; opacity: 0;}
			    to {bottom: 30px; opacity: 1;}
			}

			@-webkit-keyframes fadeout {
			    from {bottom: 30px; opacity: 1;} 
			    to {bottom: 0; opacity: 0;}
			}

			@keyframes fadeout {
			    from {bottom: 30px; opacity: 1;}
			    to {bottom: 0; opacity: 0;}
			}
		</style>	
	</head>
	<body>
		<div class="container">
			<section id="app">
				<div class="form-inline">
				  <div class="form-group">
				    <label for="email" class="sr-only">Email</label>
				    <input type="email" v-model="invite.id" class="form-control" id="email" placeholder="emailid@domain.com">
				  </div>
				  <div class="form-group mx-sm-3">
				    <label for="name" class="sr-only">Password</label>
				    <input type="text" v-model="invite.name" class="form-control" id="name" placeholder="Name">
				  </div>
				  <button type="button" @click="addAddress(invite)" class="btn btn-primary">Add</button>
				</div>
				<br/>
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>							      
				      <th scope="col">Url</th>
				      <th scope="col">Send</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr v-for="(recipient,index) in recipients">
				      <th scope="row">{{index+1}}</th>
				      <td>{{recipient.name}}</td>
				      <td>{{recipient.id}}</td>
				      <td>http://www.krishdev.com/babyShower?name={{recipient.name}}&email={{recipient.id}}</td>
				      <td><button type="button" class="btn" :class="{'btn-success': recipient.friends != 'true'}" @click="sendEmail(recipient)"><span v-if="recipient.friends != 'true'">Send</span><span v-if="recipient.friends == 'true'">Sent</span></button></td>
				    </tr>
				  </tbody>
				</table>
				<br/><br/>
				<h3>Participants & RSVP</h3>
				<table class="table">
					<thead>
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Name</th>
						  <th scope="col">Rsvp</th>							      
						  <th scope="col">Participants</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(part,index) in participants">
						  <th scope="row">{{index+1}}</th>
						  <td>{{part.name}}</td>
						  <td>
						  	<span v-if="part.rsvp == 'yes'">Yes</span>
							<span v-if="part.rsvp == 'no'">No</span>
							<span v-if="part.rsvp == 'maybe'">May be</span>
						  </td>
						  <td>{{part.participants}}</td>
						</tr>
						<tr scope="row">
							<th></th>
							<td></td>
							<td></td>
							<td><b>Total</b> {{totalParticipants}}</td>
						</tr>
					</tbody>
				</table>			
				<div id="snackbar">Emailed successfully..</div>
				<div id="errorbar">Emailed successfully..</div>
			</section>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					recipients:[],
					participants: [],
					invite: {
						id:"",
						name:""
					},
					totalParticipants:0
				},
				created: function() {
					var _this = this;
					this.$http.get('/api/friendsFamilyGetAllData').then(response => {								
						_this.recipients = response.body;
					}, response => {
						console.log("error");
						console.log(response.body);
					});	
					this.$http.get('/api/babyshowerGetAllData').then(response => {		
						_this.participants = response.body;	
						var numbtemp;
						for(var i = 0 ; i < _this.participants.length ; i++) {
							numbtemp = _this.participants[i].participants;
							console.log(numbtemp);
							if(numbtemp && !isNaN(numbtemp)){
								_this.totalParticipants += parseInt(numbtemp);
							}
						}
					}, response => {
						console.log("error");
						console.log(response.body);
					});				
				},
				methods: {
					sendEmail: function(recipient) {
						var data;
						var _this = this;
						data = {
								fromEmailId: "krishnakumar4315@gmail.com",
								toEmailId: recipient.id,
								subject:"Baby Shower Invitaion | OCT 14 | Krishnakumar Rajendran & Sabhadhini Thangavel",
								emailBody:'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head><!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]--><meta http-equiv="Content-type" content="text/html; charset=utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> <meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="format-detection" content="date=no"/><meta name="format-detection" content="address=no"/><meta name="format-detection" content="telephone=no"/><title>Email Template</title><link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Great+Vibes" rel="stylesheet"><style type="text/css" media="screen">/* Linked Styles */body{padding:0 !important; margin:0 !important; display:block !important; background:#1e1e1e; -webkit-text-size-adjust:none}a{color:#a88123; text-decoration:none}p{padding:0 !important; margin:0 !important}.toggleViewLarge{display:table;}.showOnMobile{display:none;}@media only screen and (max-width:480px){.toggleViewLarge{display:none;}.showOnMobile{display:table;}}.name{font-family: "Great Vibes", cursive;}/* Mobile styles */</style><style media="only screen and (max-device-width: 480px), only screen and (max-width: 480px)" type="text/css">@media only screen and (max-device-width: 480px), only screen and (max-width: 480px){div[class="mobile-br-5"]{height: 5px !important;}div[class="mobile-br-10"]{height: 10px !important;}div[class="mobile-br-15"]{height: 15px !important;}div[class="mobile-br-20"]{height: 20px !important;}div[class="mobile-br-25"]{height: 25px !important;}div[class="mobile-br-30"]{height: 30px !important;}th[class="m-td"], td[class="m-td"], div[class="hide-for-mobile"], span[class="hide-for-mobile"]{display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important;}span[class="mobile-block"]{display: block !important;}div[class="wgmail"] img{min-width: 320px !important; width: 320px !important;}div[class="img-m-center"]{text-align: center !important;}div[class="fluid-img"] img,td[class="fluid-img"] img{width: 100% !important; max-width: 100% !important; height: auto !important;}table[class="mobile-shell"]{width: 100% !important; min-width: 100% !important;}td[class="td"]{width: 100% !important; min-width: 100% !important;}table[class="center"]{margin: 0 auto;}td[class="column-top"],th[class="column-top"],td[class="column"],th[class="column"]{float: left !important; width: 100% !important; display: block !important;}td[class="content-spacing"]{width: 15px !important;}div[class="h2"]{font-size: 44px !important; line-height: 48px !important;}}</style></head><body class="body" style="padding:0 !important;margin:0 !important;display:block !important;background: #ff7373 !important;"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#1e1e1e"><tbody><tr style=" background: #ffffff !important;"><td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#161616"><tbody><tr></tr></tbody></table><table width="600" border="0" cellspacing="0" cellpadding="0" class="mobile-shell"><tbody><tr><td class="td" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; width:600px; min-width:600px; Margin:0" width="600"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class=""><div class="text-nav" style="color:#ffffff; font-family:Arial, sans-serif; min-width:auto !important; font-size:12px; line-height:22px; text-align:center"><a href="http://krishdev.com/babyShower" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#000; text-decoration:none">VIEW INVITATION</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://krishdev.com/babyShower#venu" target="_blank" class="link-white" style="color:#000; text-decoration:none"><span class="link-white" style="color:#000; text-decoration:none">VENUE</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.krishdev.com/babyShower?name='+recipient.name+'&email='+recipient.id+'" target="_blank" class="link-white" style="color:#000; text-decoration:none"><span class="link-white" style="color:#000; text-decoration:none">RSVP</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://krishdev.com/#/contact" target="_blank" class="link-white" style="color:#000; text-decoration:none"><span class="link-white" style="color:#000; text-decoration:none">CONTACT US</span></a></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></div></td><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" style=" background-color: #ffecee; background-image: url(http://www.helpwithmycareer.com/img-thirdparty/twinklelittlestart.png); background-repeat: no-repeat; background-size: contain; background-position-x: 1px;"><tbody><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#d2973b" style=" background: unset;"><tbody><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt;line-height:0pt;text-align:left;background: #ff7373 !important;/* border-left: 3px solid #e6ae57; *//* border-top: 3px solid #e6ae57; */" width="27"><img src="http://helpwithmycareer.com/img-thirdparty/top-left.png" border="0" width="27" height="27" alt=""></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt;line-height:0pt;display: none;text-align:left;" height="3" bgcolor="#e6ae57">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="24" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td class="img" style="font-size:0pt;line-height:0pt;text-align:left;background: #ff7373 !important;" width="27"><img border="0" width="27" height="27" alt="" src="http://helpwithmycareer.com/img-thirdparty/top-right.png"></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" class="toggleViewLarge" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt;line-height:0pt;text-align:left;display: none;" width="3" bgcolor="#e6ae57"></td><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="h3-2-center" style="color:#1e1e1e; font-family:Arial, sans-serif; min-width:auto !important; font-size:20px; line-height:26px; text-align:center; letter-spacing:5px">YOU"VE RECEIVED</div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="h2" style="color:#ffffff;font-family:Georgia, serif;min-width:auto !important;font-size: 48px;line-height: 30px;text-align:center;"><em>an invitation!</em></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td><td class="img" style="font-size:0pt;line-height:0pt;text-align:left;display: none;" width="3" bgcolor="#e6ae57"></td></tr></tbody></table></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style=" background-color: unset; padding-top: 48%; border-left: 3px solid #e6ae57; border-right: 3px solid #e6ae57; border: none;"><tbody><tr><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fafafa" style=" background: unset;"><tbody><tr><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="40"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="showOnMobile" style=" margin-top: 24%;"><tbody><tr><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer toggleViewLarge" style=" text-align:center; width:100%; min-width:100%"><tbody><tr><td class="spacer toggleViewLarge" style="text-align:center;width:100%;min-width:100%;font-size: 14px;color: #bfac61;padding: 0 0 25px 0;"><div class="">A BABY BOY IS WHAT YOU ARE!</div></td></tr></tbody></table><div class="h3-2-center" style="color:#1e1e1e; font-family:Arial, sans-serif; min-width:auto !important; font-size:20px; line-height:26px; text-align:center; letter-spacing:5px">YOU"VE RECEIVED</div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="5" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="h2" style="color:#ffffff; font-family:Georgia, serif; min-width:auto !important; font-size:60px; line-height:64px; text-align:center"><em>an invitation!</em></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="text-align:center;width:100%;min-width:100%;"><tbody><tr><td class="spacer toggleViewLarge" style="text-align:center;width:100%;min-width:100%;font-size: 14px;color: #bfac61;padding: 0 0 25px 0;"><div class="">A BABY BOY IS WHAT YOU ARE!</div></td></tr><tr><td class="spacer" style="text-align:center;width:100%;min-width:100%;font-size: 42px;color: #bfac61;padding: 16px;" height="15"> <div class="name"> Krish &amp; Sabha</div></td></tr></tbody></table><div class="h5-1-center" style="color:#a88123; font-family:Georgia, serif; min-width:auto !important; font-size:16px; line-height:26px; text-align:center"><a href="#" target="_blank" class="link" style="color:#a88123; text-decoration:none"><span class="link" style="color:#a88123; text-decoration:none">@'+recipient.name+'</span></a></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="text-center" style="color:#1e1e1e; font-family:Arial, sans-serif; min-width:auto !important; font-size:14px; line-height:20px; text-align:center"><em>"Hey '+recipient.name+', here"s your invite! <br>Check out our invitation. Join us for a baby shower honoring.</em></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td align="center"><table width="210" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td align="center" bgcolor="#d2973b"><table border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="50" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td bgcolor="#d2973b"><div class="text-btn" style="color:#ffffff; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:20px; text-align:center"><a href="http://krishdev.com/babyShower?name='+recipient.name+'&email='+recipient.id+'" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#ffffff; text-decoration:none">RSVP</span></a></div></td><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="15"></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="40"></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="h5-2-center" style="color:#1e1e1e; font-family:Arial, sans-serif; min-width:auto !important; font-size:16px; line-height:26px; text-align:center"></div></td><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#d2973b" style="background-color: #cacfff;"><tbody><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3" bgcolor="#e6ae57"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="h3-1-center" style="color:#1e1e1e; font-family:Georgia, serif; min-width:auto !important; font-size:20px; line-height:26px; text-align:center"><em>Follow Us</em></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td align="center"><table border="0" cellspacing="0" cellpadding="0" style=" background-color: #cb9731; padding: 5px; border-radius: 10px;"><tbody><tr><td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="38"><a href="https://www.facebook.com/mynameiskrishnakumar" target="_blank"><img src="https://d1pgqke3goo8l6.cloudfront.net/PZeWpIm2TkSqtS6i07xE_ico_facebook.jpg" border="0" width="28" height="28" alt=""></a></td><td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="38"><a href="https://twitter.com/Krishna0711" target="_blank"><img src="https://d1pgqke3goo8l6.cloudfront.net/hAIPhWl2SB2cL0Atc4lB_ico_twitter.jpg" border="0" width="28" height="28" alt=""></a></td><td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="38"><a href="https://www.instagram.com/paasakaaran_krish/" target="_blank"><img src="https://d1pgqke3goo8l6.cloudfront.net/NrXUpqcRQwKnJKzLkqS1_ico_instagram.jpg" border="0" width="28" height="28" alt=""></a></td><td class="img-center" style="font-size:0pt; line-height:0pt; display:none; text-align:center" width="38"><a href="#" target="_blank"><img src="https://d1pgqke3goo8l6.cloudfront.net/VaewiS8gT5ClCCR9vAO1_ico_pinterest.jpg" border="0" width="28" height="28" alt=""></a></td></tr></tbody></table></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3" bgcolor="#e6ae57"></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt;line-height:0pt;text-align:left;background: #ff7373 !important;" width="27"><img src="http://helpwithmycareer.com/img-thirdparty/bottom-left.png" border="0" width="27" height="27" alt=""></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="24" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="img" style="font-size:0pt; line-height:0pt; text-align:left" height="3" bgcolor="#e6ae57">&nbsp;</td></tr></tbody></table></td><td class="img" style="font-size:0pt;line-height:0pt;text-align:left;background: #ff7373 !important;" width="27"><img src="http://helpwithmycareer.com/img-thirdparty/bottom-right.png" border="0" width="27" height="27" alt=""></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td><td><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table><div class="text-footer" style="color:#666666; font-family:Arial, sans-serif; min-width:auto !important; font-size:12px; line-height:18px; text-align:center">7001 Hansell Rd, Apt 2310<span class="mobile-block"></span>Plano, TX 75024<br><a href="http://krishdev.com" target="_blank" class="link-1" style="color:#666666; text-decoration:none"><span class="link-1" style="color:#666666; text-decoration:none">www.krishdev.com</span></a><span class="mobile-block"><span class="hide-for-mobile">|</span></span><a href="mailto:mailkrsihna2@gmail.com" target="_blank" class="link-1" style="color:#666666; text-decoration:none"><span class="link-1" style="color:#666666; text-decoration:none">mailkrishna2@gmail.com</span></a><span class="mobile-block"><span class="hide-for-mobile">|</span></span>Phone: <a href="tel:+16147875430" target="_blank" class="link-1" style="color:#666666; text-decoration:none"><span class="link-1" style="color:#666666; text-decoration:none">+1 (614) 787-5430</span></a></div><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table></td><td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td></tr></tbody></table></td></tr></tbody></table><div class="wgmail" style="font-size:0pt; line-height:0pt; text-align:center"><img src="https://d1pgqke3goo8l6.cloudfront.net/oD2XPM6QQiajFKLdePkw_gmail_fix.gif" width="600" height="1" style="min-width:600px" alt="" border="0"></div></td></tr></tbody></table></body></html>'
							};
							this.$http.post('/api/sendEmail',data).then(response => {		
								_this.updateSent(recipient);
								_this.successMessage("Email Sent Successfully..");
							}, response => {
								console.log("error");
								console.log(response.body);
							});
					},
					updateSent: function(data) {
						data.friends = "true";
						var _this = this;
						debugger;
						this.$http.post('/api/friendsFamilyUpdateContent', data).then(response => {
							for(var i = 0; i < _this.recipients.length ; i++) {
								if(data.id == _this.recipients[i].id){
									_this.recipients[i].friends = "true";
								}
							}
						}, response => {
							console.log("error");
							console.log(response.body);
						});
					},
					successMessage: function(message) {
					    var x = document.getElementById("snackbar");
					    x.innerHTML = message;
					    x.className = "show";
					    var _this = this;
					    setTimeout(function(){ 
					    	x.className = x.className.replace("show", ""); 
							_this.showRsvpBtns = false;								    
					    }, 2000);
					},
					failureMessage: function(message) {
					    var x = document.getElementById("errorbar");
					    x.innerHTML = message;
					    x.className = "show";
					    var _this = this;
					    setTimeout(function(){ 
					    	x.className = x.className.replace("show", ""); 
							_this.showRsvpBtns = false;								    
					    }, 2000);
					},
					addAddress: function(newInivte) {
						var data;
						var isPresent = false;
						var _this = this;
						for(var i = 0;i<_this.recipients.length;i++) {
							if(_this.recipients[i].id == newInivte.id){
								isPresent = true;
								break;
							}
						}
						if(!isPresent) {							
							data = newInivte;
							this.$http.post('/api/friendsFamilyInsertContent', data).then(response => {
								console.log("added");
								_this.recipients.push(response.body);
								_this.invite.id = "";
								_this.invite.name = "";
								_this.successMessage('Added Successfully!');							
							}, response => {
								console.log("error");
							})
						} else {
							_this.failureMessage('Already Added!');
						}
					}
				}
			});
		</script>
	</body>
</html>