<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Font CSS -->
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Italianno|Poppins|Courgette|Kaushan+Script" rel="stylesheet">

		<style>
			#app{
				margin:3em 0;
			}
		</style>
		<style>
			#snackbar,#errorbar {
			    visibility: hidden;
			    min-width: 250px;
			    margin-left: -125px;
			    background-color: #333;
			    color: #fff;
			    text-align: center;
			    border-radius: 2px;
			    padding: 16px;
			    position: fixed;
			    z-index: 1;
			    left: 50%;
			    bottom: 30px;
			    font-size: 17px;
			}
			#errorbar {
				background-color: darkcyan;
			}
			#snackbar.show,#errorbar.show {
			    visibility: visible;
			    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			    animation: fadein 0.5s, fadeout 0.5s 2.5s;
			}

			@-webkit-keyframes fadein {
			    from {bottom: 0; opacity: 0;} 
			    to {bottom: 30px; opacity: 1;}
			}

			@keyframes fadein {
			    from {bottom: 0; opacity: 0;}
			    to {bottom: 30px; opacity: 1;}
			}

			@-webkit-keyframes fadeout {
			    from {bottom: 30px; opacity: 1;} 
			    to {bottom: 0; opacity: 0;}
			}

			@keyframes fadeout {
			    from {bottom: 30px; opacity: 1;}
			    to {bottom: 0; opacity: 0;}
			}
		</style>	
	</head>
	<body>
		<div class="container">
			<section id="app">
				<div class="form-inline">
				  <div class="form-group">
				    <label for="email" class="sr-only">Email</label>
				    <input type="email" v-model="invite.id" class="form-control" id="email" placeholder="emailid@domain.com">
				  </div>
				  <div class="form-group mx-sm-3">
				    <label for="name" class="sr-only">Password</label>
				    <input type="text" v-model="invite.name" class="form-control" id="name" placeholder="Name">
				  </div>
				  <button type="button" @click="addAddress(invite)" class="btn btn-primary">Add</button>
				</div>
				<br/>
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>							      
				      <th scope="col">Url</th>
				      <th scope="col">Send</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr v-for="(recipient,index) in recipients">
				      <th scope="row">{{index+1}}</th>
				      <td>{{recipient.name}}</td>
				      <td>{{recipient.id}}</td>
				      <td>http://www.krishdev.com/kail-first-birthday?name={{recipient.name}}&email={{recipient.id}}</td>
				      <td><button type="button" class="btn" :class="{'btn-success': recipient.friends != 'true'}" @click="sendEmail(recipient)"><span v-if="recipient.friends != 'true'">Send</span><span v-if="recipient.friends == 'true'">Sent</span></button></td>
				    </tr>
				  </tbody>
				</table>
				<br/><br/>
				<h3>Participants & RSVP</h3>
				<table class="table">
					<thead>
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Name</th>
						  <th scope="col">email</th>	
						  <th scope="col">Rsvp</th>							      
						  <th scope="col">Participants</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(part,index) in participants">
						  <th scope="row">{{index+1}}</th>
						  <td>{{part.name}}</td>
						  <td>{{part.email}}</td>
						  <td>
						  	<span v-if="part.rsvp == 'yes'">Yes</span>
							<span v-if="part.rsvp == 'no'">No</span>
							<span v-if="part.rsvp == 'maybe'">May be</span>
						  </td>
						  <td>{{part.participants}}</td>
						  <td><button type="button" class="btn btn-success" @click="updateEmail(part)">Update</button></td>
						</tr>
						<tr scope="row">
							<th></th>
							<td></td>
							<td></td>
							<td><b>Total</b> {{totalParticipants}}</td>
						</tr>
					</tbody>
				</table>			
				<div id="snackbar">Emailed successfully..</div>
				<div id="errorbar">Emailed successfully..</div>
			</section>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					recipients:[],
					participants: [],
					invite: {
						id:"",
						name:""
					},
					totalParticipants:0
				},
				created: function() {
					var _this = this;
					this.$http.get('/api/friendsFamilyGetAllData').then(response => {								
						_this.recipients = response.body;
					}, response => {
						console.log("error");
						console.log(response.body);
					});	
					this.$http.get('/api/babyshowerGetAllData').then(response => {		
						_this.participants = response.body;	
						var numbtemp;
						for(var i = 0 ; i < _this.participants.length ; i++) {
							numbtemp = _this.participants[i].participants;
							console.log(numbtemp);
							if(numbtemp && !isNaN(numbtemp)){
								_this.totalParticipants += parseInt(numbtemp);
							}
						}
					}, response => {
						console.log("error");
						console.log(response.body);
					});				
				},
				methods: {
					sendEmail: function(recipient) {
						var data;
						var _this = this;
						data = {
								fromEmailId: "krishnakumar4315@gmail.com",
								toEmailId: recipient.id,
								subject:"Kailash First Birthday Invitaion | Nov 16 | Krishnakumar Rajendran & Sabhadhini Thangavel",
								emailBody:'<!DOCTYPE html><html lang="en"xmlns="http://www.w3.org/1999/xhtml"xmlns:o="urn:schemas-microsoft-com:office:office"xmlns:v="urn:schemas-microsoft-com:vml"><meta charset="utf-8"><meta content="width=device-width"name="viewport"><meta content="IE=edge"http-equiv="X-UA-Compatible"><meta name="x-apple-disable-message-reformatting"><meta content="telephone=no,address=no,email=no,date=no,url=no"name="format-detection"><title></title><!--[if mso]><style>*{font-family:sans-serif!important}</style><![endif]--><!--[if !mso]><!--><!--<![endif]--><style>body,html{margin:0!important;padding:0!important;height:100%!important;width:100%!important}*{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}div[style*="margin: 16px 0"]{margin:0!important}table,td{mso-table-lspace:0!important;mso-table-rspace:0!important}table{border-spacing:0!important;border-collapse:collapse!important;table-layout:fixed!important;margin:0 auto!important}img{-ms-interpolation-mode:bicubic}a{text-decoration:none}.aBn,.unstyle-auto-detected-links a,a[x-apple-data-detectors]{border-bottom:0!important;cursor:default!important;color:inherit!important;text-decoration:none!important;font-size:inherit!important;font-family:inherit!important;font-weight:inherit!important;line-height:inherit!important}.a6S{display:none!important;opacity:.01!important}.im{color:inherit!important}img.g-img+div{display:none!important}@media only screen and (min-device-width:320px) and (max-device-width:374px){u~div .email-container{min-width:320px!important}}@media only screen and (min-device-width:375px) and (max-device-width:413px){u~div .email-container{min-width:375px!important}}@media only screen and (min-device-width:414px){u~div .email-container{min-width:414px!important}}</style><!--[if gte mso 9]><xml><o:officedocumentsettings><o:allowpng/><o:pixelsperinch>96</o:pixelsperinch></o:officedocumentsettings></xml><![endif]--><style>.button-a,.button-td{transition:all .1s ease-in}.button-a-primary:hover,.button-td-primary:hover{background:#555!important;border-color:#555!important}@media screen and (max-width:600px){.email-container p{font-size:17px!important}}</style><body style="margin:0;padding:0!important;mso-line-height-rule:exactly;background-color:#fff"width="100%"><center style="width:100%;background-color:#fff"><!--[if mso | IE]><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="100%"style="background-color:#fff"><tr><td><![endif]--><div style="display:none;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;font-family:sans-serif">Krishna and Sabha invites you to join Kailash\'s first birthday part on Nov 16.</div><div style="display:none;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;font-family:sans-serif">‌</div><div style="max-width:600px;margin:0 auto"class="email-container"><!--[if mso]><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="600"align="center"><tr><td><![endif]--><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="100%"align="center"style="margin:auto"><tr><td style="padding:20px 0;text-align:center;color:#fff;font-family:Arial,sans-serif;font-size:12px"><a href="http://krishdev.com/kail-first-birthday"style="color:#fff;text-decoration:none"class="link-white"target="_blank"><span class="link-white"style="color:#000;text-decoration:none">VIEW INVITATION</span></a>   |   <a href="http://krishdev.com/kail-first-birthday#venu"style="color:#000;text-decoration:none"class="link-white"target="_blank"><span class="link-white"style="color:#000;text-decoration:none">VENUE</span>   </a>|  <a href="http://www.krishdev.com/kail-first-birthday?name='+recipient.name+'&email='+recipient.id+'"style="color:#000;text-decoration:none"class="link-white"target="_blank"><span class="link-white"style="color:#000;text-decoration:none">RSVP</span></a>  |  <a href="http://krishdev.com/#/contact"style="color:#000;text-decoration:none"class="link-white"target="_blank"><span class="link-white"style="color:#000;text-decoration:none">CONTACT US</span></a><tr><td style="background-color:#fff"><img height=""src="https://www.krishdev.com/assets/images/email-templates/fb-2.png"style="width:100%;max-width:600px;height:auto"width="600"><tr><td style="background-color:#fff"><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="100%"align="center"><tr><td style="padding:0 20px 20px;font-family:sans-serif;font-size:19px;line-height:20px;color:#555;text-align:center"><div style="color:#1e1e1e;font-family:Arial,sans-serif;min-width:auto!important;font-size:14px;line-height:20px;text-align:center"class="text-center"><em>"Hey '+recipient.name+', here\'s your invite!<br>Check out our invitation. Join us to celebrate.</em></div><tr><td style="padding:0 20px 20px;font-family:sans-serif;font-size:15px;line-height:20px;color:#555;text-align:center"><p style="margin:0"><a href="https://goo.gl/maps/zFBAc87qGjqxFv5s9"style="color:#a88123;text-decoration:none"class="link"target="_blank"><span class="link"style="color:#a88123;text-decoration:none">@ 12468 Haskell St, Frisco, TX</span></a><p style="margin:0;color:#a88123;font-family:Georgia,serif">Nov 16<sup>th</sup>, 12PM - 3PM<tr><td style="padding:0 20px"><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="210"align="center"style="margin:auto"bgcolor="#d2973b"><tr><td style="border-radius:4px;background:#d2973b;text-align:center"class="button-td button-td-primary"><a href="http://krishdev.com/kail-first-birthday?name='+recipient.name+'&email='+recipient.id+'"style="background:#d2973b;border:1px solid #d2973b;font-family:sans-serif;font-size:15px;line-height:15px;text-decoration:none;padding:16px 70px;color:#fff;display:block;border-radius:4px;text-align:center"class="button-a button-a-primary">RSVP</a></table><tr><td style="padding:20px;font-family:sans-serif;font-size:15px;line-height:20px;color:#555"><h2 style="margin:0 0 10px 0;font-family:sans-serif;font-size:18px;line-height:22px;color:#333;font-weight:700;text-align:center">Hope to see you at the party.</h2></table><tr><tr><td style="background-color:#fff"><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="100%"><tr></table></table><!--[if mso]><![endif]--></div><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="100%"align="center"style="background-color:#d2973b"><tr><td><div style="max-width:600px;margin:auto;text-align:center"class="email-container"align="center"><!--[if mso]><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="600"align="center"><tr><td><![endif]--><table border="0"cellpadding="0"cellspacing="0"role="presentation"width="100%"align="center"><tr><td style="padding:20px;text-align:center;font-family:sans-serif;font-size:15px;line-height:20px;color:#fff"><p style="margin:0"><a href="https://www.krishdev.com"style="color:#fff;text-decoration:none;padding-right:10px">www.krishdev.com </a><a href="mailto:mailkrishna2@gmail.com"style="color:#001eb2;text-decoration:none;padding-right:10px">mailkrishna2@gmail.com </a>Phone: <a href="tel:6147875430"style="color:#fff;text-decoration:none">+1 (614) 787-5430</a></table><!--[if mso]><![endif]--></div></table><!--[if mso | IE]><![endif]--></center></body></html>'
							};
						this.$http.post('/api/sendEmail',data).then(response => {		
							_this.updateSent(recipient);
							_this.successMessage("Email Sent Successfully..");
						}, response => {
							console.log("error");
							console.log(response.body);
						});
					},
					updateSent: function(data) {
						// var data;
						// var _this = this;
						// data = {
						// 		fromEmailId: "krishnakumar4315@gmail.com",
						// 		toEmailId: recipient.email,
						// 		subject:"Thank you for attending our Baby Shower Event | OCT 14 | Krishnakumar Rajendran & Sabhadhini Thangavel",
						// 		emailBody:''
						// 	};
						
						// this.$http.post('/api/friendsFamilyUpdateContent', data).then(response => {
						// 	for(var i = 0; i < _this.recipients.length ; i++) {
						// 		if(data.id == _this.recipients[i].id){
						// 			_this.recipients[i].friends = "true";
						// 		}
						// 	}
						// }, response => {
						// 	console.log("error");
						// 	console.log(response.body);
						// });
					},
					successMessage: function(message) {
					    var x = document.getElementById("snackbar");
					    x.innerHTML = message;
					    x.className = "show";
					    var _this = this;
					    setTimeout(function(){ 
					    	x.className = x.className.replace("show", ""); 
							_this.showRsvpBtns = false;								    
					    }, 2000);
					},
					failureMessage: function(message) {
					    var x = document.getElementById("errorbar");
					    x.innerHTML = message;
					    x.className = "show";
					    var _this = this;
					    setTimeout(function(){ 
					    	x.className = x.className.replace("show", ""); 
							_this.showRsvpBtns = false;								    
					    }, 2000);
					},
					addAddress: function(newInivte) {
						var data;
						var isPresent = false;
						var _this = this;
						for(var i = 0;i<_this.recipients.length;i++) {
							if(_this.recipients[i].id == newInivte.id){
								isPresent = true;
								break;
							}
						}
						if(!isPresent) {							
							data = newInivte;
							this.$http.post('/api/friendsFamilyInsertContent', data).then(response => {
								console.log("added");
								_this.recipients.push(response.body);
								_this.invite.id = "";
								_this.invite.name = "";
								_this.successMessage('Added Successfully!');							
							}, response => {
								console.log("error");
							})
						} else {
							_this.failureMessage('Already Added!');
						}
					}
				}
			});
		</script>
	</body>
</html>