<!DOCTYPE html>
<html>

<head>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="assets/css/marriageStyles.css" rel="stylesheet">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="//scrollmagic.io/js/lib/greensock/TweenMax.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="//scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

</head>

<body>
	<!--<nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                Welcome
              </a>
            </div>
          </div>
        </nav>-->
	<div id="outterWrap">
		<header class="logo">
			<div class="container">Lorem & Ipsum</div>
		</header>
		<div class="pannel pageHome">
			<section class="container">
				<h1 class="spotlight col-md-10 col-md-push-1">Lorem Ipsum dolor sit amet</h1>

			</section>


		</div>
		<section class="pannel pannelTwo">
			<div class="container">
				<article class="row">
					<div class="col-md-6">
						<div class="row">
							<p class="col-md-6">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa.
							</p>
							<figure class="figure col-md-6">
								<img data-src="holder.js/400x300" class="figure-img img-fluid rounded" alt="400x300" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15b26efc8d1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15b26efc8d1%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22149%22%20y%3D%22159.6%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
								<figcaption class="figure-caption">A caption for the above image.</figcaption>
							</figure>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<figure class="figure col-md-6">
								<img data-src="holder.js/400x300" class="figure-img img-fluid rounded" alt="400x300" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20300%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15b26efc8d1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15b26efc8d1%22%3E%3Crect%20width%3D%22400%22%20height%3D%22300%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22149%22%20y%3D%22159.6%22%3E400x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
								<figcaption class="figure-caption">A caption for the above image.</figcaption>
							</figure>
							<p class="col-md-6">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa.
							</p>
						</div>
					</div>

				</article>
			</div>
		</section>
		<section class="pannel pannelThree">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="shadowBox">
							<header>
								<h3>Lorem ipsum</h3>
							</header>
							<hr/>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.</p>
							<p>
								<button type="button" class="btn btn-primary">MORE</button>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="shadowBox">
							<header>
								<h3>Lorem ipsum</h3>
							</header>
							<hr/>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.</p>
							<p>
								<button type="button" class="btn btn-primary">MORE</button>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="shadowBox">
							<header>
								<h3>Lorem ipsum</h3>
							</header>
							<hr/>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.</p>
							<p>
								<button type="button" class="btn btn-primary">MORE</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pannel pannelFour">
			<div class="container">
				<!--<form novalidate>-->
				<div class="form-group">
					<label for="Email">EMAIL</label>
					<div class="col-sm-10">
						<input type="email" class="form-control form-control-success" id="Email" placeholder="name@example.com">
						<div class="form-control-feedback">Success! You've done it.</div>
						<small class="form-text text-muted">Example help text that remains unchanged.</small>
					</div>
				</div>
				<div class="form-group">
					<label for="name">NAME</label>
					<input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleSelect2">*I WILL ATTEND TO</label>
					<select multiple class="form-control" id="exampleSelect2">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<!--</form>-->
			</div>
		</section>
	</div>


	<!-- Scripts -->

	<script>
		$(function() { // wait for document ready
			// init
			var controller = new ScrollMagic.Controller();

			// define movement of panels
			var wipeAnimation = new TimelineMax()
				.fromTo("section.pannelTwo", 1, {
					x: "-100%"
				}, {
					x: "0%",
					ease: Linear.easeNone
				}) // in from left
				.fromTo("section.pannelThree", 1, {
					x: "100%"
				}, {
					x: "0%",
					ease: Linear.easeNone
				}) // in from right
				.fromTo("section.pannelFour", 1, {
					y: "-100%"
				}, {
					y: "0%",
					ease: Linear.easeNone
				}); // in from top

			// create scene to pin and link animation
			new ScrollMagic.Scene({
					triggerElement: "#outterWrap",
					triggerHook: "onLeave",
					duration: "300%"
				})
				.setPin("#outterWrap")
				.setTween(wipeAnimation)
				.addIndicators() // add indicators (requires plugin)
				.addTo(controller);
		});
		$(document).ready(function() {
			setTimeout(function() {
				//$($("div")[19]).html("");
				//$($("div")[23]).html("");
			}, 500);
		});

	</script>
</body>

</html>
