<!DOCTYPE html>
<html>

<head>
	<title>Conjugal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="It is so important that you should know what it is? You might have guessed, but it is happening and it is not too far. Click it to know it.">
	<meta name="keywords" content="Krishna weds sabha,krish wedding,sabha wedding,coimbatore wedding,love marriage, krishnakumar weds sabhadhini, sabhadhini, krishnakumar,krishna, oct 30,october 30,sabhadhini marriage coimbatore,krishna marriage coimbatore,love marriage coimabtore,Sabhadhini wedding,sabhadhini marriage,sabha marriage,echanari marriage,hemambigai marriage,sundrapuram,krishna sundrapuram">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Font CSS -->
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Italianno|Poppins|Courgette|Kaushan+Script" rel="stylesheet">
	<link href="assets/css/fancybox.css" rel="stylesheet">
<!-- Google Tag Manager --

	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-W9QVTNS');

	</script>
	<!-- End Google Tag Manager -->

<!-- PhotoSwipe-->

<!-- End PhotoSwipe-->


	<style type="text/css">
		@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');@font-face{font-family:'FontAwesome';src:url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');src:url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
		.navbar-custom,.sub-quote{text-transform:uppercase}#thankyou,header{text-align:center}.five .row article,.overlay-close,.three figure,footer .parent{overflow:hidden}body{font-family:Poppins,sans-serif}button.btn.btn-default.contact{margin-bottom:1em}#thankyou{font-family:Courgette,cursive;font-size:28px;margin-top:3em;color:currentColor}@media (min-width:768px){.navbar-custom{padding:25px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s}header .container{padding-top:200px;padding-bottom:100px}}.navbar-custom{background:#2C3E50;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700;border:none}@media only screen and (max-width:768px){div#maincontent{padding-top:25%}}div#maincontent{height:80vh}header{background:rgba(42,24,188,.68);color:#fff}section.item-container{min-height:80vh;padding-top:12%;padding-bottom:12%}.container-item{margin:0 0 -2px;right:0;height:260px}@media (min-width:767px){.container-item{margin:0 .2em 30px}}.container-item .portfolio-link .caption{background:rgba(24,188,156,.9);position:absolute;width:100%;height:100%;opacity:0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s}.container-item .portfolio-link{display:block;position:absolute;margin:0 auto;height:100%;left:0;top:0;width:100%}.col-sm-4.container-item{background-repeat:no-repeat;background-size:cover;position:relative}@media (min-width:768px){.col-sm-4{width:32%}}.two .col-sm-4.container-item .portfolio-link{background-color:rgba(86, 77, 128, 0.76)}section.item-container.two span.arrow-icon{font-size:1.2em;background:rgba(119,48,48,.49);padding:13px 18px;border-radius:66%;color:#faebd7;position:absolute;top:50%;cursor:pointer;z-index:100}section.item-container.two span.arrow-icon:first-child{left:0}section.item-container.two span.arrow-icon:nth-child(2){right:0}.item-count-2 article::after{clear:both}.three figure{width:115px;height:115px;border-radius:50%;margin:0 auto;position:relative}.three .col-md-6:nth-child(2n) figure img{left:-45px}.three figure img{width:211px;position:absolute;left:-24px}.box-right,article.box-left{text-align:center;margin:0 auto;box-shadow:1px 1px 1px 1px #d3d3d3;padding:1em 2em}.three p{text-align:left;padding-top:.5em;font-family:'Noto Sans',sans-serif}.three h3{border-bottom:1px solid #d3d3d3;padding-bottom:.51em;font-family:Nunito,sans-serif}article.box-right{float:left}.three{position:relative}.heart-icon{height:110px;width:110px;line-height:130px;border-radius:50%;background-color:#fff;position:absolute;top:-55px;left:50%;text-align:center;transform:translateX(-50%)}.heart-icon i{color:#F0394D;font-size:45px}@media only screen and (min-width:768px){.box-right,article.box-left{width:49%}article.box-left{float:right}.box-right{float:left}}@media only screen and (min-width:1024px){.box-right,article.box-left{width:65%}}section.item-container.four .row .col-md-6{position:relative;height:230px}section.item-container.four .row .col-md-6 .timeline-left,section.item-container.four .row .col-md-6 .timeline-right{position:absolute;box-shadow:2px 1px 2px #ffa07a}section.item-container.four .row .col-md-6 .timeline-left{left:1%;top:2%}section.item-container.four .row .col-md-6 .timeline-right{right:1%;bottom:2%}section.item-container.four .row article.col-md-6 header{font-size:1.42em;padding:.51em;background:#9c55a7}section.item-container.four .row article.col-md-6 p{padding:3% 4%;text-align:center;background:#f0f8ffb5;}section.item-container.four .row .col-md-6:first-child{border-right:3px solid #add8e6}section.item-container.four .row article.col-md-6:first-child .timeline-line{width:20%;height:3px;background-color:rgba(229,243,152,.75);position:absolute;right:0;top:5em}section.item-container.four .row article.col-md-6:last-child .timeline-line{width:20%;height:3px;background-color:rgba(229,243,152,.75);position:absolute;left:0;bottom:5em}section.item-container.four .row article.col-md-6 .timeline-line::after{width:40px;height:40px;background:#f1dbff;display:block;content:"";border-radius:50%;position:absolute;top:-18px}section.item-container.four .row .col-md-6>div{width:225px}@media only screen and (min-width:768px){section.item-container.four .row .col-md-6>div{width:315px}}@media only screen and (min-width:1024px){section.item-container.four .row .col-md-6>div{width:321px}}section.item-container.four .row article.col-md-6:last-child .timeline-line::after{right:-40px}section.item-container.four .row article.col-md-6:first-child .timeline-line::after{left:-40px}section.item-container.two{background:url(assets/images/jodi/01.jpg) 44% -29px no-repeat fixed;background-size:cover;position:relative;transition:.5s}@media only screen and (max-width:414px){section.item-container.two{background-attachment:scroll;background-image:url(assets/images/jodi/04.jpg)}}body{position:relative}section.overlay-screen{position:fixed;width:100%;height:100vh;top:0;background:#565ebf;color:#fff;overflow:hidden;z-index:110;font-size:29px}.hide{visibility:hidden;opacity:0;transition:visibility 0s,opacity .5s linear}article.inner-text.text-center{padding:15%}section.overlay-screen .inner-text div{font-size:45px;vertical-align:sub}section.overlay-screen .inner-text div span{font-size:2em}.heart:hover{color:#FFB6C1;font-size:1em}span.heart{transition:.5s}#kBottom,#kLeft,.kBottom,.kLeft{-webkit-1transition:all .5s ease-in-out}.overlay-close{position:absolute;right:20px;top:0;color:#fff}.show{display:block!important}@media only screen and (max-width:768px){section.item-container.four .row article.col-md-6:first-child .timeline-line{width:20%;left:0}section.item-container.four .row .col-md-6 .timeline-left{left:27%;top:11%}section.item-container.four .row article.col-md-6:first-child .timeline-line::after{left:124px}section.item-container.four .row .col-md-6 .timeline-right{right:30%;bottom:50%}section.item-container.four .row article.col-md-6:last-child .timeline-line{width:20%;bottom:75%;left:80%}section.item-container.four .row .col-md-6{border-left:3px solid #add8e6;border-right:3px solid #add8e6}section.item-container.four .row article.col-md-6:last-child .timeline-line::after{right:124px}}#kLeft,#kTop,.kLeft,.kTop{border-right:1px solid #b7b924}@media only screen and (max-width:465px){section.item-container.four .row article.col-md-6:first-child .timeline-line::after{left:40px}section.item-container.four .row article.col-md-6:last-child .timeline-line::after{right:50px}}.five .col-md-4{padding:7%}.five .row article figure img{width:155px;height:155px}section.invite{padding:1% 5%}.five .col-md-6:last-child{border-left:2px solid #e0ffff}.five .col-md-6:first-child{padding-right:5%}footer .parent{position:relative;height:46px}#kBottom,#kLeft,#kTop,.kBottom,.kLeft,.kTop{width:0;height:0;border-top:5px solid #b7b924;border-left:5px solid #b7b924}.small.kLeft{border-bottom:20px solid #b7b924}#kLeft,.kLeft{border-bottom:40px solid #b7b924;z-index:2;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.small.kTop{border-bottom:10px solid #c3fa87;left:1px;transform:translate(96px) rotate(20deg)}#kTop,.kTop{position:absolute;left:1px;top:15px;border-bottom:20px solid #c3fa87;-webkit-transform:translate(100px) rotate(20deg);-webkit-transform-origin:0 -250px;transform:translate(100px) rotate(20deg);transform-origin:0 -250px}.small.kBottom{border-bottom:10px solid #c3fa87;left:9px;top:11px}.kBottom.rotated{-webkit-transform:rotate(170deg);-moz-transform:rotate(170deg);-ms-transform:rotate(170deg);-o-transform:rotate(170deg);transform:rotate(320deg)}#kBottom,.kBottom{position:absolute;left:12px;top:20px;border-right:1px solid #c3fa87;border-bottom:20px solid #c3fa87;transform:rotate(-40deg);-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}footer hr{border-top:2px solid #eee}.footer-logo{position:absolute;width:70px;height:70px;text-align:center;margin:0 auto;background:rgba(74,74,74,.95);border-radius:50%;top:0;left:45%;padding:23px 25px;box-shadow:1px 0 4px #c5c5c5}footer.container{position:relative}.footer-line{padding-top:1%}[id=toggle-heart]{position:absolute;left:-100vw}[id=toggle-heart]:checked+label{color:#e2264d;filter:none;will-change:font-size;animation:heart 1s cubic-bezier(.17,.89,.32,1.49)}[id=toggle-heart]:checked+label:after,[id=toggle-heart]:checked+label:before{animation:inherit;animation-timing-function:ease-out}[id=toggle-heart]:checked+label:before{will-change:transform,border-width,border-color;animation-name:bubble}[id=toggle-heart]:checked+label:after{will-change:opacity,box-shadow;animation-name:sparkles}[id=toggle-heart]:focus+label{text-shadow:0 0 3px #fff,0 1px 1px #fff,0 -1px 1px #fff,1px 0 1px #fff,-1px 0 1px #fff}[for=toggle-heart]{align-self:center;position:relative;color:#888;font-size:2em;filter:grayscale(1);user-select:none;cursor:pointer}[for=toggle-heart]:after,[for=toggle-heart]:before{position:absolute;z-index:-1;top:50%;left:50%;border-radius:50%;content:''}[for=toggle-heart]:before{box-sizing:border-box;margin:-6.25rem;border:7.25rem solid #e2264d;width:13.5rem;height:13.5rem;transform:scale(0)}[for=toggle-heart]:after{margin:-.1875rem;width:.375rem;height:.375rem;box-shadow:.32476rem -3rem 0 -.1875rem #ff8080,-.32476rem -2.625rem 0 -.1875rem #ffed80,2.54798rem -1.61656rem 0 -.1875rem #ffed80,1.84982rem -1.89057rem 0 -.1875rem #a4ff80,2.85252rem .98418rem 0 -.1875rem #a4ff80,2.63145rem .2675rem 0 -.1875rem #80ffc8,1.00905rem 2.84381rem 0 -.1875rem #80ffc8,1.43154rem 2.22414rem 0 -.1875rem #80c8ff,-1.59425rem 2.562rem 0 -.1875rem #80c8ff,-.84635rem 2.50595rem 0 -.1875rem #a480ff,-2.99705rem .35095rem 0 -.1875rem #a480ff,-2.48692rem .90073rem 0 -.1875rem #ff80ed,-2.14301rem -2.12438rem 0 -.1875rem #ff80ed,-2.25479rem -1.38275rem 0 -.1875rem #ff8080}@keyframes heart{0%,17.5%{font-size:0}}@keyframes bubble{15%{transform:scale(1);border-color:#cc8ef5;border-width:2.25rem}100%,30%{transform:scale(1);border-color:#cc8ef5;border-width:0}}@keyframes sparkles{0%,20%{opacity:0}25%{opacity:1;box-shadow:.32476rem -2.4375rem 0 0 #ff8080,-.32476rem -2.0625rem 0 0 #ffed80,2.1082rem -1.26585rem 0 0 #ffed80,1.41004rem -1.53985rem 0 0 #a4ff80,2.30412rem .85901rem 0 0 #a4ff80,2.08305rem .14233rem 0 0 #80ffc8,.76499rem 2.33702rem 0 0 #80ffc8,1.18748rem 1.71734rem 0 0 #80c8ff,-1.35019rem 2.0552rem 0 0 #80c8ff,-.60229rem 1.99916rem 0 0 #a480ff,-2.44865rem .22578rem 0 0 #a480ff,-1.93852rem .77557rem 0 0 #ff80ed,-1.70323rem -1.77366rem 0 0 #ff80ed,-1.81501rem -1.03204rem 0 0 #ff8080}}#nameTag h1{font-family:'Kaushan Script',cursive;font-size:46px}#nameTag span.and{font-family:'Great Vibes',cursive;font-size:35px;color:#85de43}.nav-fixed{display:none;transition:.5s;color:#fff;background-color:rgba(42,24,188,.68);position:fixed;top:0;width:100%;left:0;font-family:Italianno,cursive;font-size:38px}@media only screen and (max-width:1023px){.truncate{display:none}.truncate+.text.hide{display:inline!important;visibility:visible;opacity:1}}.collage,.invitation{left:0;top:0;width:100%;height:100%;opacity:.2}.collage{position:absolute;background-image:url(assets/images/jodi/Collage.jpg);background-repeat:repeat;background-size:contain}section.item-container.five{background-color:#faebd7;position:relative}.invitation{background-image:url(/assets/images/jodi/invite.jpg);position:absolute}
		button.loadImages{
    background-image: url("assets/images/load.gif");
    background-size: cover;
    background-position-y: -23px;
}
		.gallery-item img{width: 100%;}
		@media (min-width: 768px){.modal-dialog {width: 40%;}}
		.portfolio-link {text-align: center;color: #fff;} 
		.portfolio-link h3,.portfolio-link h4 {color: gainsboro;}
		.portfolio-link a {color: midnightblue;}
		@media (max-width:425px){.footer-logo{left:39%;}}
		.emoji{position: absolute;z-index: 10;opacity: 0.7;top: -14px;}
		.emoji-left{left: -37px;}.emoji-right{right:-35px;}
		@media only screen and (max-width: 768px){.emoji-left{left: 127px;}.emoji-right{right:128px;}}
		@media only screen and (max-width: 465px){.emoji-left{left: 43px;}.emoji-right{right:55px;}}
		@media (min-width: 768px){.modal-dialog {width: 44%;}}
		.modal-body{padding:0; overflow:hidden;}
		i.fa.fa-heart{transform:scale(1);animation:render 2.5s infinite}@-webkit-keyframes render{0%,100%{transform:scale(1)}75%{transform:scale(1.5)}}@-moz-keyframes render{0%,100%{transform:scale(1)}75%{transform:scale(1.5)}}@-o-keyframes render{0%,100%{transform:scale(1)}75%{transform:scale(1.5)}}@keyframes render{0%,100%{transform:scale(1)}75%{transform:scale(1.5)}}
		@media only screen and (max-width:425px){section.item-container.two span.arrow-icon{display:none;}}
		.krish-img{background-image: url(assets/images/profile_pic2.jpeg);background-repeat: no-repeat;background-size: cover;background-position-x: -20px;}
		.sabha-img{background-image: url(assets/images/sabha.jpeg);background-repeat: no-repeat;background-size: cover;} .hideWelcome section.overlay-screen{display:none !important;};
	</style>		
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9QVTNS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<script>
		
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);

		}(document, 'script', 'facebook-jssdk'));


		function Loadpicture(response) {
			console.log(response);
		}

	</script>
		
		<header style="position:relative">
			<div class="container" id="maincontent" tabindex="-1">
				<div class="row">
					<div class="col-lg-12">
						<div class="intro-text">
							<div id="nameTag">
								<h1 class="name">KRISHNA</h1>
								<h1 class="name"><span class="and">&</span> SABHA</h1></div>
							<hr class="star-light"><span class="sub-quote">A celebration of love and friendship</span></div>
					</div>
				</div>
			</div>
			<div class="collage"></div>
		</header>
		<section class="item-container three">
			<div class="heart-icon"><i class="fa fa-heart"></i></div>
			<div class="item-count-2">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<article class="box-left">
								<figure class="krish-img"></figure>
								<h3>Krishnakumar Rajendran</h3>
								<p style="text-align: left;">Seriously, I have no idea that how things are wrapping up so quick. It was like yesterday. This is really a crazy journey. She is loving, kind, patient, funny and beautiful. Yes, I did make fun of her tone every time. I’d just say a cool girlfriend is also a good friend. That’s really it.</p>
							</article>
						</div>
						<div class="col-md-6">
							<article class="box-right">
								<figure class="sabha-img"> </figure>
								<h3>Sabhadhini Thangavel</h3>
								<p>The moment has come. I am going to marry my best friend whom I know for the past 7 years. As 'Absence sharpens love, presence strengthens it' the time gave us a chance to understand each a lot in our long distance relationship. We had missed many<span class="truncate">...</span><span class="text hide"> beautiful moments together. Will be sharing our life with officially announced characters as husband and wife and as best friends as always.</span></p>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="item-container two four">
				<div class="container">
						<div class="text-center">
							<h2>STORYLINE</h2>
							<hr class="star-primary">
						</div>
						<div class="row">
							<article class="col-md-6">
								<div class="timeline-left">
									<header>He saw her</header>
									<p>We met during our Under Graduation. Basically we went to the same college.</p>
								</div>
								<div class="timeline-line"><img src="assets/images/jodi/emoji/exicted.png" class=" emoji emoji-left"></div>
							</article>
							<article class="col-md-6">
								<div class="timeline-right">
									<header>Friends</header>
									<p>Orkut brought us together as friends.</p>
								</div>
								<div class="timeline-line"><img src="assets/images/jodi/emoji/guess.png" class=" emoji emoji-right"></div>
							</article>
						</div>
						<div class="row">
							<article class="col-md-6">
								<div class="timeline-left">
									<header>Proposal</header>
									<p>It was mutual.</p>
								</div>
								<div class="timeline-line"><img src="assets/images/jodi/emoji/love.png" class=" emoji emoji-left"></div>
							</article>
							<article class="col-md-6">
								<div class="timeline-right">
									<header>I flew</header>
									<p>I went for my higher studies. Long distance didn't stop us. It gave us time to understand a lot better.</p>
								</div>
								<div class="timeline-line"><img src="assets/images/jodi/emoji/airplane.png" class=" emoji emoji-right"></div>
							</article>
						</div>
						<div class="row">
							<article class="col-md-6">
								<div class="timeline-left">
									<header>The go signal</header>
									<p>We are really gifted to have such a wonderful parents.</p>
								</div>
								<div class="timeline-line"><img src="assets/images/jodi/emoji/blessed.png" class=" emoji emoji-left"></div>
							</article>
							<article class="col-md-6">
								<div class="timeline-right">
									<header>Oct 30</header>
									<p>We got married.</p>
								</div>
								<div class="timeline-line"><img src="assets/images/jodi/emoji/cool.png" class=" emoji emoji-right"></div>
							</article>
						</div>
					</div>
		</section>
		<section class="item-container gallery">
			<div id="gallery" class="container">
				<div class="text-center">
					<h2>GALLERY</h2>
					<hr class="star-primary">
				</div>
				<article class="gallery-container">
					
				</article>
				<div class="text-center"><button class="loadMore btn btn-primary btn-lg">Load More</button></div>
			</div>
		</section>
		<section class="item-container five">
			<div class="invitation"></div>
			<div class="container">
				<div class="text-center">
					<h2>Thanks for your wishes.</h2>
					<hr class="star-primary">
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>With great pleasure</p>
						<div style="font-family: Italianno,cursive;font-size: 2em;">Krishna & Sabha</div>
						<p>Your presence and wishes was an immense pleasure.</p>
					</div>
				</div>
				<p id="thankyou">Thank you</p>
			</div>
		</section>
		<section class="item-container six">
			<div class="container">
				<div class="text-center">
					<h2>Guest Book</h2>
					<hr class="star-primary">
				</div>
				<div class="row">
					<form class="form-horizontal col-md-6">
						<div class="form-group">
							<label for="exampleInputName2">Name</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail2">Email</label>
							<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
						</div>
						<div class="form-group">
							<label for="message">Message</label>
							<textarea id="message" class="form-control" placeholder="Please type your message here.."></textarea>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-default contact">Send invitation</button>
							<div class="alert alert-success success" style="display:none;" role="alert"><strong>Thank you!</strong></div>
							<div class="alert alert-warning" style="display:none;"> <strong>Error!</strong> Please enter a valid data.</div>
						</div>
					</form>
					<div class="col-md-6">
						<section class="invite">
							<article style="text-align:center"><img src="/assets/images/jodi/emoji/rsvp.gif" style="width: 60%;"></article>
						</section>
					</div>
				</div>
			</div>
		</section>
		<footer class="container">
			<div class="footer-line">
				<hr>
			</div>
			<div class="footer-logo">
				<div>
					<a href="http://www.krishdev.com" target="_blank" title="webpage">
						<div class="parent" style="width: 21px;">
							<div class="small kLeft"></div>
							<div class="small kTop"></div>
							<div id="rotateThis" class="small kBottom rotated"></div>
						</div>
					</a>
				</div>
			</div>
		</footer>
		<section class="nav-fixed">
			<div class="text-center">Krishna & Sabha</div>
		</section>
		<section class="overlay-screen">
			<article class="inner-text text-center">
				<div>Guess What <span><i class="fa fa-question" aria-hidden="true"></i></span></div>
				<p>
					<input id="toggle-heart" type="checkbox" />
					<label for="toggle-heart"><i class="fa fa-heart" aria-hidden="true"></i></label>
				</p>
			</article>
			<a href="#" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></a>
		</section>
		<div id="myModal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
				   <div class="modal-body">
					<span class="fn-close">&times;</span>
					<span class="fn-next">></span>
					<span class="fn-prev"><</span>
					<figure>
						<img data-image="" src="">
					</figure>
				  </div>
				</div>
			  
			  </div>
			
			  
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
	<script type="text/javascript">
	/* Bootstrap */
if("undefined"==typeof jQuery)throw new Error("Bootstrap's JavaScript requires jQuery");+function(t){"use strict";var e=t.fn.jquery.split(" ")[0].split(".");if(e[0]<2&&e[1]<9||1==e[0]&&9==e[1]&&e[2]<1||e[0]>3)throw new Error("Bootstrap's JavaScript requires jQuery version 1.9.1 or higher, but lower than version 4")}(jQuery),+function(t){"use strict";function e(e,i){return this.each(function(){var s=t(this),n=s.data("bs.modal"),r=t.extend({},o.DEFAULTS,s.data(),"object"==typeof e&&e);n||s.data("bs.modal",n=new o(this,r)),"string"==typeof e?n[e](i):r.show&&n.show(i)})}var o=function(e,o){this.options=o,this.$body=t(document.body),this.$element=t(e),this.$dialog=this.$element.find(".modal-dialog"),this.$backdrop=null,this.isShown=null,this.originalBodyPad=null,this.scrollbarWidth=0,this.ignoreBackdropClick=!1,this.options.remote&&this.$element.find(".modal-content").load(this.options.remote,t.proxy(function(){this.$element.trigger("loaded.bs.modal")},this))};o.VERSION="3.3.7",o.TRANSITION_DURATION=300,o.BACKDROP_TRANSITION_DURATION=150,o.DEFAULTS={backdrop:!0,keyboard:!0,show:!0},o.prototype.toggle=function(t){return this.isShown?this.hide():this.show(t)},o.prototype.show=function(e){var i=this,s=t.Event("show.bs.modal",{relatedTarget:e});this.$element.trigger(s),this.isShown||s.isDefaultPrevented()||(this.isShown=!0,this.checkScrollbar(),this.setScrollbar(),this.$body.addClass("modal-open"),this.escape(),this.resize(),this.$element.on("click.dismiss.bs.modal",'[data-dismiss="modal"]',t.proxy(this.hide,this)),this.$dialog.on("mousedown.dismiss.bs.modal",function(){i.$element.one("mouseup.dismiss.bs.modal",function(e){t(e.target).is(i.$element)&&(i.ignoreBackdropClick=!0)})}),this.backdrop(function(){var s=t.support.transition&&i.$element.hasClass("fade");i.$element.parent().length||i.$element.appendTo(i.$body),i.$element.show().scrollTop(0),i.adjustDialog(),s&&i.$element[0].offsetWidth,i.$element.addClass("in"),i.enforceFocus();var n=t.Event("shown.bs.modal",{relatedTarget:e});s?i.$dialog.one("bsTransitionEnd",function(){i.$element.trigger("focus").trigger(n)}).emulateTransitionEnd(o.TRANSITION_DURATION):i.$element.trigger("focus").trigger(n)}))},o.prototype.hide=function(e){e&&e.preventDefault(),e=t.Event("hide.bs.modal"),this.$element.trigger(e),this.isShown&&!e.isDefaultPrevented()&&(this.isShown=!1,this.escape(),this.resize(),t(document).off("focusin.bs.modal"),this.$element.removeClass("in").off("click.dismiss.bs.modal").off("mouseup.dismiss.bs.modal"),this.$dialog.off("mousedown.dismiss.bs.modal"),t.support.transition&&this.$element.hasClass("fade")?this.$element.one("bsTransitionEnd",t.proxy(this.hideModal,this)).emulateTransitionEnd(o.TRANSITION_DURATION):this.hideModal())},o.prototype.enforceFocus=function(){t(document).off("focusin.bs.modal").on("focusin.bs.modal",t.proxy(function(t){document===t.target||this.$element[0]===t.target||this.$element.has(t.target).length||this.$element.trigger("focus")},this))},o.prototype.escape=function(){this.isShown&&this.options.keyboard?this.$element.on("keydown.dismiss.bs.modal",t.proxy(function(t){27==t.which&&this.hide()},this)):this.isShown||this.$element.off("keydown.dismiss.bs.modal")},o.prototype.resize=function(){this.isShown?t(window).on("resize.bs.modal",t.proxy(this.handleUpdate,this)):t(window).off("resize.bs.modal")},o.prototype.hideModal=function(){var t=this;this.$element.hide(),this.backdrop(function(){t.$body.removeClass("modal-open"),t.resetAdjustments(),t.resetScrollbar(),t.$element.trigger("hidden.bs.modal")})},o.prototype.removeBackdrop=function(){this.$backdrop&&this.$backdrop.remove(),this.$backdrop=null},o.prototype.backdrop=function(e){var i=this,s=this.$element.hasClass("fade")?"fade":"";if(this.isShown&&this.options.backdrop){var n=t.support.transition&&s;if(this.$backdrop=t(document.createElement("div")).addClass("modal-backdrop "+s).appendTo(this.$body),this.$element.on("click.dismiss.bs.modal",t.proxy(function(t){return this.ignoreBackdropClick?void(this.ignoreBackdropClick=!1):void(t.target===t.currentTarget&&("static"==this.options.backdrop?this.$element[0].focus():this.hide()))},this)),n&&this.$backdrop[0].offsetWidth,this.$backdrop.addClass("in"),!e)return;n?this.$backdrop.one("bsTransitionEnd",e).emulateTransitionEnd(o.BACKDROP_TRANSITION_DURATION):e()}else if(!this.isShown&&this.$backdrop){this.$backdrop.removeClass("in");var r=function(){i.removeBackdrop(),e&&e()};t.support.transition&&this.$element.hasClass("fade")?this.$backdrop.one("bsTransitionEnd",r).emulateTransitionEnd(o.BACKDROP_TRANSITION_DURATION):r()}else e&&e()},o.prototype.handleUpdate=function(){this.adjustDialog()},o.prototype.adjustDialog=function(){var t=this.$element[0].scrollHeight>document.documentElement.clientHeight;this.$element.css({paddingLeft:!this.bodyIsOverflowing&&t?this.scrollbarWidth:"",paddingRight:this.bodyIsOverflowing&&!t?this.scrollbarWidth:""})},o.prototype.resetAdjustments=function(){this.$element.css({paddingLeft:"",paddingRight:""})},o.prototype.checkScrollbar=function(){var t=window.innerWidth;if(!t){var e=document.documentElement.getBoundingClientRect();t=e.right-Math.abs(e.left)}this.bodyIsOverflowing=document.body.clientWidth<t,this.scrollbarWidth=this.measureScrollbar()},o.prototype.setScrollbar=function(){var t=parseInt(this.$body.css("padding-right")||0,10);this.originalBodyPad=document.body.style.paddingRight||"",this.bodyIsOverflowing&&this.$body.css("padding-right",t+this.scrollbarWidth)},o.prototype.resetScrollbar=function(){this.$body.css("padding-right",this.originalBodyPad)},o.prototype.measureScrollbar=function(){var t=document.createElement("div");t.className="modal-scrollbar-measure",this.$body.append(t);var e=t.offsetWidth-t.clientWidth;return this.$body[0].removeChild(t),e};var i=t.fn.modal;t.fn.modal=e,t.fn.modal.Constructor=o,t.fn.modal.noConflict=function(){return t.fn.modal=i,this},t(document).on("click.bs.modal.data-api",'[data-toggle="modal"]',function(o){var i=t(this),s=i.attr("href"),n=t(i.attr("data-target")||s&&s.replace(/.*(?=#[^\s]+$)/,"")),r=n.data("bs.modal")?"toggle":t.extend({remote:!/#/.test(s)&&s},n.data(),i.data());i.is("a")&&o.preventDefault(),n.one("show.bs.modal",function(t){t.isDefaultPrevented()||n.one("hidden.bs.modal",function(){i.is(":visible")&&i.trigger("focus")})}),e.call(n,r,this)})}(jQuery);
	</script>
<script src="assets/js/masonry.js"></script>

	<script>
		$(document).ready(function() {
			var i = 1;
			if(location.pathname.indexOf("wedding") != -1){
				$("body").addClass("hideWelcome");
			}
			$(".arrow-icon").on("click", function(e) {
				var target = $(e.target);
				if (target.hasClass("right") || target.parent().hasClass("right")) {

					(i == 6) ? i = 1: i++;
					$(".two").css("background-image", "url(assets/images/jodi/0" + i + ".jpg )");

				} else {
					(i == 1) ? i = 6: i--;
					$(".two").css("background-image", "url(assets/images/jodi/0" + i + ".jpg )");
				}

			});
			$("a.overlay-close").on("click", function() {
				$("section.overlay-screen").addClass("hide");
			});
			$('#toggle-heart').change(function() {

				if (this.checked) {
					setTimeout(function() {
						$("section.overlay-screen").hide("slow");
					}, 600);
				}
			});
			var imgCount = 0;
			$(window).scroll(function() {
				var scrollPosition = $(window).scrollTop();
				var containerHeight = $("header").height();
				if (scrollPosition > containerHeight) {
					$(".nav-fixed").addClass("show");
				} else {
					$(".nav-fixed").removeClass("show");

				}
				
				if((scrollPosition > ($(".six").offset().top - 115)) &&imgCount === 0)
				{
					$(".invite img").attr("src","http://glanz.starkethemes.com/html/images/animations/rsvp.gif");
					imgCount++;
				}
			});
			$(".truncate").click(function() {
				$(".truncate").hide();
				$(".box-right .hide").removeClass("hide");
			});
			$(".contact").click(function() {
				var formElem = $("form");
				var emailValidation = false;
				var noError = false;
				var textValidation = false;
				var nameElem = formElem.find("input[type='text']");
				var messageElem = formElem.find("#message");
				var emailElem = formElem.find("input[type='email']");
				if (nameElem.val().length > 2 && messageElem.val().length > 2) {
					textValidation = true;
					messageElem.parent().removeClass("has-error");
					nameElem.parent().removeClass("has-error");
				}
				else{	
					if(nameElem.val().length < 2) nameElem.parent().addClass("has-error");
					else nameElem.parent().removeClass("has-error");
					if(messageElem.val().length < 2) messageElem.parent().addClass("has-error");
					else messageElem.parent().removeClass("has-error");
					textValidation = false;
				}
				if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailElem.val())){
					emailValidation = true;
					emailElem.parent().removeClass("has-error");
				} 
				else {	
					emailElem.parent().addClass("has-error");
					emailValidation = false;
				}
				if (emailValidation && textValidation) noError = true;
				else{	
					noError = false;
				} 					

				if (noError) {
					var thisDate = new Date();
					var data = {
						"subject": "Wedding wishes",
						"content": "Hello, <br> " + messageElem.val() + " Name: " + nameElem.val(),
						"time": thisDate.getTime(),
						"from": emailElem.val(),
						"to": "krishnasinbox@outlook.com"
					};

					$.ajax({
						type: "GET",
						url: "/api/contact",
						data: data,
						success: function(result) {
							nameElem.val("");
							emailElem.val("");
							messageElem.val("");
							$(".success").show();
						}
					});
				}
			});
			
			$("a#mapEngagement").click(function(){
				var iframeElem = '<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15668.227366642914!2d76.9718741!3d10.959079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4359ef5fadd2029c!2sAnandhaas+Hotel!5e0!3m2!1sen!2sus!4v1499063265629" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
				var modalElem = $("#myModal");
				modalElem.find("#myModalLabel").html("Engagement Venue");
				modalElem.find(".modal-body").html(iframeElem);				modalElem.find(".openMap").attr("href",'https://www.google.com/maps/place/Anandhaas+Hotel/@10.959079,76.9696854,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba85a2ef1ff9287:0x4359ef5fadd2029c!8m2!3d10.959079!4d76.9718741?hl=en-GB');
			});
			$("a#mapMarriage").click(function(){
				var iframeElem = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.522315883333!2d76.98014211480212!3d10.923861792221562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85af5cfe041c3%3A0x29881ec423290892!2sEachanari+Vinayagar+Temple%2C+NH209%2C+Eachanari%2C+Coimbatore%2C+Tamil+Nadu+641021%2C+India!5e0!3m2!1sen!2sus!4v1499062860351" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
				var modalElem = $("#myModal");
				modalElem.find("#myModalLabel").html("Marriage Venue");
				modalElem.find(".modal-body").html(iframeElem);				modalElem.find(".openMap").attr("href",'https://www.google.com/maps/place/Eachanari+Vinayagar+Temple,+NH209,+Eachanari,+Coimbatore,+Tamil+Nadu+641021,+India/@10.928012,76.984627,16z/data=!4m5!3m4!1s0x3ba85af5cfe041c3:0x29881ec423290892!8m2!3d10.9238954!4d76.9823977?ll=10.928012,76.984627&z=16&t=m&hl=en-GB&gl=US&mapclient=embed&q=Eachanari+Vinayagar+Temple+NH209,+Eachanari+Coimbatore,+Tamil+Nadu+641021+India');
			});
			$("a#mapReception").click(function(){
				var iframeElem = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2329.328373448416!2d76.98119756865863!3d10.92951026204028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe76d7a930ed83ee9!2sHemambigai+Marriage+Hall!5e0!3m2!1sen!2sus!4v1499063462454" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
				var modalElem = $("#myModal");
				modalElem.find("#myModalLabel").html("Reception Venue");
				modalElem.find(".modal-body").html(iframeElem);				modalElem.find(".openMap").attr("href",'https://www.google.com/maps/place/Hemambigai+Marriage+Hall/@10.930131,76.981362,17z/data=!4m5!3m4!1s0x0:0xe76d7a930ed83ee9!8m2!3d10.9301311!4d76.9813621?ll=10.930131,76.981362&z=17&t=m&hl=en-GB&gl=US&mapclient=embed&cid=16676119767250648809');
				
			});

			var galleryImages = {};
			var page = 1;
			var getGalleryAPI = function(){
				//getGallery
				
				$.ajax({
					url:"/api/getGallery?page=" + page,
					type:"GET",
					dataType:"JSON",
					success:function(data){
						galleryImages = data;
						bindGallery(galleryImages);
					},
					error:function(err){
						console.log(err);
					}
				});
			};
			var loadMore = function(){
				//getGallery
				$("button.loadMore").addClass("loadImages");
				page += 1;
				$.ajax({
					url:"/api/getGallery?page="+ page,
					type:"GET",
					dataType:"JSON",
					success:function(data){
						galleryImages = data;
						$("button.loadMore").removeClass("loadImages");
						bindGallery(galleryImages);						
					},
					error:function(err){
						console.log(err);
					}
				});
			};

			$(".loadMore").bind("click",function(){
				loadMore();
			});
			var imagesCount = 0;
			function bindGallery(images){
				var $elementParent = $(".gallery-container"),
					$elementChild;
				for(var i = 0, imagesLength = images.photos.photo.length ; i < imagesLength ; i++){
					imagesCount +=1;
					$elementChild = $("<a href='" + images.photos.photo[i].url_z + "' data-image='" + imagesCount +  "' class='gallery-item'><img src='" + images.photos.photo[i].url_z + "'></a>");
					$elementParent.append($elementChild);
				}
				setMacy(100);
				setTimeout(function(){
					if($(".gallery-item").length == images.photos.total){
						$(".loadMore").hide();
					}
				},100);
				
			};		

			function setMacy(timmer){
				setTimeout(function(){
				
					var macy = Macy({
						container: '.gallery-container',
						trueOrder: false,
						waitForImages: false,
						margin: 24,
						columns: 4,
						breakAt: {
							1200:4,
							940: 3,
							520: 2,
							400: 1
						}
					});
				},timmer);
			};
			
			setMacy(1000);
			getGalleryAPI();
		});

	</script>
	<script src="assets/js/fancybox.js"></script>
</body>

</html>
